.main {
    padding-top: 16px;
    padding-bottom: 16px;
}

.main ul {
    list-style-type: none;
    margin: 0;
    padding: 0 16px 0 16px;
}

.main ul li {
    display: block;
    margin: auto auto 16px auto;
    overflow: hidden;
}

.main ul li img {
    float: left;
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 8px 0 0;
    padding: 0;
    border: 1px solid #111;
}

.main ul li h1 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.main ul li p {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.main h1 a {
    color: #000;
    text-decoration: none;
}

.main h1 a:hover {
    opacity: 0.75;
}
